* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: arial, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  background-color: #343a40;
  color: white;
}
.header__headline {
  font-size: 23px;
  font-weight: normal;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 860px) {
  .header__headline {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 0;
  }
}
.header__input {
  padding: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}
@media (min-width: 860px) {
  .header__input {
    width: 300px;
  }
}
.header__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  padding: 10px;
  background-color: #28a745;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__cart:hover {
  background-color: #259740;
}
.header__cart-number {
  font-size: 12px;
}
.header__cart-icon:nth-child(1) {
  font-size: 20px;
}
.header__cart-icon:nth-of-type(2) {
  padding-bottom: 12px;
}

.filter {
  min-width: 200px;
  max-width: 300px;
  height: 75vh;
  margin: 5px 15px 0 5px;
  padding: 30px 20px;
  background-color: #343a40;
  color: white;
}
.filter__label {
  display: block;
  margin-bottom: 25px;
}
.filter__input {
  margin-right: 6px;
}
.filter__headline {
  margin-bottom: 35px;
  font-size: 22px;
  font-weight: normal;
}
.filter__select {
  display: block;
  margin-bottom: 35px;
  min-width: 100px;
  outline: none;
  padding: 3px;
  border: none;
}
.filter__btn {
  background-color: #f8f9fa;
  border: 3px solid #f8f9fa;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.filter__btn:focus {
  background-color: #e2e6ea;
  border: 3px solid #a6a9ad;
}

.filter-and-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
  margin: 15px 15px 0 0;
}
.products .product {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (min-width: 750px) {
  .products .product {
    width: calc(50% - 7.5px);
  }
}
@media (min-width: 1024px) {
  .products .product {
    width: calc(33% - 7.5px);
  }
}
.products .product__img {
  width: 100%;
}
.products .product__span, .products .product__btn {
  display: block;
}
.products .product__name, .products .product__span, .products .product__btn {
  margin: 0 0 5px 15px;
}
.products .product svg:nth-of-type(1) {
  margin-left: 15px;
}
.products .product__btn {
  margin: 5px 0 15px 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.products .product__btn:hover {
  background-color: #0e73df;
}
.products .product__btn-red {
  background-color: #dc3545;
}
.products .product__btn-red:hover {
  background-color: #c53443;
}
.products .product__name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: normal;
}

.user-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-in-cart {
  margin: 20px;
}
.products-in-cart .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 60vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
@media (min-width: 750px) {
  .products-in-cart .product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
}
.products-in-cart .product__stars {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.products-in-cart .product__img {
  height: 100%;
  border-radius: 5px;
}
.products-in-cart .product__img-container {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-left: 30px;
}
@media (min-width: 750px) {
  .products-in-cart .product__img {
    height: 70px;
  }
}
.products-in-cart .product__delete {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  cursor: pointer;
}
.products-in-cart .product__span {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.products-in-cart .product__span, .products-in-cart .product__select {
  display: block;
}
.products-in-cart .product * {
  margin: 3px 0;
}
.products-in-cart .product__select {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  margin-bottom: 8px;
  outline: none;
}
@media (min-width: 750px) {
  .products-in-cart .product__select {
    height: 30px;
    width: 60px;
  }
}
.products-in-cart .product__name {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
@media (min-width: 750px) {
  .products-in-cart .product__name {
    font-size: 16px;
    font-weight: normal;
  }
}

.products-total {
  width: 100%;
  margin: 3px;
  padding: 20px 15px;
  background-color: #343a40;
  color: white;
}
.products-total__text {
  font-size: 18px;
}
.products-total__cost {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.products-total__btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.products-total__btn:hover {
  background-color: #0e73df;
}
.products-total * {
  margin-bottom: 25px;
}

.cart-preview {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 330px;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
.cart-preview__btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  pointer-events: all;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cart-preview__btn:hover {
  background-color: #0e73df;
}
.cart-preview__text {
  color: black;
  font-weight: normal;
}
.cart-preview .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  color: black;
}
.cart-preview .product__img {
  width: 70px;
  border-radius: 50%;
}
.cart-preview .product__name-container {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: left;
}
.cart-preview .product__name, .cart-preview .product__span {
  font-size: 18px;
  font-weight: normal;
}
.cart-preview .product__span {
  font-size: 16px;
}
.cart-preview .product__delete {
  pointer-events: all;
}/*# sourceMappingURL=style.css.map */